@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  /* Primary Color */
  --main-bg-color: hsl(233, 47%, 7%);
  --card-bg-color: hsl(244, 38%, 16%);
  --accent-color: hsl(277, 64%, 61%);

  /* Neutral Color */
  --color-300: hsla(0, 0%, 100%, 0.6);
  --color-400: hsla(0, 0%, 100%, 0.75);
  --color-600: hsl(0, 0%, 100%);

  /* Fonts */
  --ff-inter: 'Inter', sans-serif;
  --ff-lexend: 'Lexend Deca', sans-serif;

  /* Font Size */
  --fs-body: 0.938rem;
  --title-fs: 1.6rem;

  /* Font Weight */
  --fw-400: 400;
  --fw-700: 700;

}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--main-bg-color);
  padding: 1.4rem;
}

.card {
  background-color: var(--card-bg-color);
  border-radius: .3em;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "img"
    "ct";
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  grid-area: img;
}

.desktop {
  display: none;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay::after {
  position: absolute;
  z-index: 2;
  content: '';
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: hsla(277, 65%, 32%, 0.673);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-inline: 2rem;
  grid-area: ct;
}

.title {
  color: var(--color-600);
  font-size: var(--title-fs);
  font-family: var(--ff-inter);
  font-weight: var(--fw-700);
  margin-block-start: 2rem;
}

.accent-text {
  color: var(--accent-color);
}

.paragraph {
  color: var(--color-400);
  font-family: var(--ff-lexend);
  font-size: var(--fs-body);
  font-weight: var(--fw-400);
  line-height: 1.7;
  margin-block-start: 1rem;
}

.stats-wrapper {
  display: flex;
  flex-direction: column;
  margin-block-start: 2rem;
}

.stats-wrapper>* {
  margin-block-end: 1.5rem;
}

.stats {
  color: var(--color-600);
  font-size: 1.6rem;
  font-family: var(--ff-inter);
  font-weight: var(--fw-700);
}

.stat-heading {
  font-family: var(--ff-lexend);
  color: var(--color-300);
  font-size: .9rem;
  margin-block-start: .5em;
  letter-spacing: .1em;
}

footer {
  font-size: .8rem;
  font-family: serif;
  margin-top: 1em;
  text-align: center;
  color: var(--color-400);
}

footer a {
  color: var(--color-400);
}

@media screen and (min-width: 769px) {
  body {
    display: grid;
    place-content: center;
  }


  .card {
    max-width: 1100px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "ct img";
  }

  .card>* {
    margin: 0;
    padding: 0;
  }

  .card>*>* {
    margin: 0;
    padding: 0;
  }

  .card>*>*>* {
    margin: 0;
    padding: 0;
  }

  .content {
    text-align: left;
    padding-inline-start: 4rem;
    padding-inline-end: 3.5rem;
    padding-block: 3.5rem;
    justify-content: center;
    align-items: start;
  }

  .title {
    font-size: calc(var(--title-fs) + .5rem);
  }

  .paragraph {
    font-size: 1rem;
    margin-top: 1.6rem;
    padding-inline-end: 3rem;
  }

  .stats-wrapper {
    width: 85%;
    flex-direction: row;
    justify-content: space-between;
    margin-block-start: 4rem;
  }

  .stats-wrapper>* {
    padding-inline: .5rem;
  }

  

  .img {
    height: 100%;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

